
/*======================================
      initial css
========================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/*font-family: 'Raleway', sans-serif;*/

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Raleway', sans-serif;
}




/*======================================
      about section start
========================================*/
.about-hire-me{
    background-color: #eb3b5a;
    text-transform: uppercase;
    height: auto;
    padding: 60px 0px;
    letter-spacing: 2px;

}
.about-hire-me p{
    font-size: 16px;
}
.about-hire-me .button{
    padding: 25px 0px;
}
.about-hire-me .button a{
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    margin: 0px 6px;
}
.about-hire-me .button a i{
    font-size: 10px;
    padding: 0 4px;
}

.about-hire-me .button a:hover{
    background-color: #000000;
    border: 1px solid #000000;

}

/*======================================
      about section end
========================================*/


/*======================================
      how i do it section start
========================================*/

.how-i-do{
    margin: 20px 0;
}
.how-i-do .how-i-do-top{
    letter-spacing: 1px;
}
.how-i-do .how-i-do-top h4{
    padding: 15px 0 0px 0;
}
.how-i-do .how-i-do-top .hid-underline{
    margin: 0 auto;
    height: 2.2px;
    width: 60px;
    background-color: #eb3b5a;
}
.how-i-do .how-i-do-top p{
    font-size: 11px;
    padding: 30px 0;
    color: #777;
    width: 66%;
    margin: 0 auto;
}

.how-i-do .how-i-do-row span i{
    font-size: 30px;
    padding: 0px 0 13px;
}
.how-i-do .how-i-do-row h5{
    text-transform: uppercase;
}
.how-i-do .hid-underline-two{
    height: 3px;
    width: 60px;
    background-color: #eb3b5a;
}
.how-i-do .how-i-do-row p{
    font-size: 11px;
    letter-spacing: 1px;
    padding: 17px 0;
    color: #5f5f5f;
    line-height: 23px;
}
.how-i-do .how-i-do-img{}

/*======================================
      how i do it section end
========================================*/

/*======================================
      fun facts section end
========================================*/
.fun-facts{

    background-image: url(../img/section-bg-01.jpg);
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.fun-facts .overlay{
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.6);
    padding: 60px 0;
}
.fun-facts .overlay h5{
    color: #ffffff;
    padding: 25px 0 0;
}
.fun-facts .overlay p{
    font-size: 10.5px;
    padding: 17px 0;
    letter-spacing: 1px;
    color: #eaeaea;
}
.fun-facts .fun-underline-two{
    margin: 0 auto;
    height: 3px;
    width: 60px;
    background-color: #eb3b5a;
}
.fun-facts .fun-facts-counting{

}


.fun-facts .fun-facts-counting i{
    color: #fff;
    font-size: 40px
}
.fun-facts .fun-facts-counting h5{
    font-size: 40px;
    padding: 4px 0;
}
.fun-facts .fun-facts-counting span{
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 2.5px;
    padding: 16px 0;
}
.fun-facts .fun-underline-three{
    margin: 0 auto;
    height: 3px;
    width: 60px;
    background-color: #eb3b5a;
    margin-bottom: -16px;
}

/*======================================
      fun facts section end
========================================*/

/*======================================
      what can i do section start
========================================*/
.what-can-i-do{}
.what-can-i-do-head{}
.what-can-i-do-head h5{
padding: 25px 0 0;
}
.what-can-i-do-head p{
font-size: 10.5px;
padding: 17px 0;
letter-spacing: 1px;
color: #676666;
}
.what-can-i-do-head .fun-underline-two{
margin: 0 auto;
height: 3px;
width: 60px;
background-color: #eb3b5a;
}

.what-can-i-do .what-can-i-do-element{}
.what-can-i-do .what-can-i-do-element h5{
    padding: 12px 0;
    color: #636363;
}
.what-can-i-do .what-can-i-do-element p{
    font-size: 10.5px;
    letter-spacing: 1px;
    color: #676666;
    line-height: 18px;
}
.what-can-i-do .what-can-i-do-element .img-overlap{

    overflow: hidden;
    transition: .3s all ease-in-out;
}
.what-can-i-do .what-can-i-do-element .img i{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    border-radius: 50%;
    color: #333;
    background: #f2f2f2;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.07, 0.25, 0.93);
    transition: all 0.3s cubic-bezier(0.68, -0.07, 0.25, 0.93);
}
/*.what-can-i-do .what-can-i-do-element .img-overlap:hover{
    border: 2px solid #eb3b5a;
    border-radius: 100%;
}
.what-can-i-do .what-can-i-do-element .img-overlap:hover .img{
    background-color: #eb3b5a;
    height: auto;
    width: auto;
    color: #ffffff;
}*/
.what-can-i-do .what-can-i-do-element .img i{
    /*font-size: 34px;*/
}
.what-can-i-do .what-can-i-do-element .img-overlap:hover i{
    background: #f7465b;
    color: #fff;
}


/*======================================
      what can i do section end
========================================*/
